node_name          "%image_name%"
cookbook_path      ["/tmp/chef/cookbooks"]
role_path          ["/tmp/chef/roles"]
data_bag_path      ["/tmp/chef/data_bags"]
environment_path   ["/tmp/chef/environments/%environment_path%"]
environment        "%environment%"
ssl_verify_mode    :verify_peer